<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addPerson">Ajouter Personnage</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Type</th>
        </tr>
        <tr th:each ="Personnage : ${persons}">
            <td th:utext="${Personnage.id}">...</td>
            <td th:utext="${Personnage.nom}">...</td>
            <td th:utext="${Personnage.type}">...</td>
        </tr>
    </table>
</div>
</body>
</html>